<div class="large-12 columns" data-ng-init="loadAllPaddlers()">
	<div class="panel text-center">
		<div class="row">
			<div class="large-4 columns">
				<h3>Paddlers</h3>
				<div class="row">
					<div class="large-3 columns">
						<label>Upload CSV</label>
					</div>
					<div class="large-9 columns">
						<div class="dropzone" file-dropzone="[text/csv]"
		                  file="image" file-name="imageFileName" data-max-file-size="3">
		                  	<span>Drop CSV Here</span>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="large-3 columns">
						<label>Name:</label>
					</div>
					<div class="large-9 columns">
						<input type="text" data-ng-model="paddler.name"/>
					</div>
				</div>
				<div class="row">
					<div class="large-3 columns">
						<label>Weight:</label>
					</div>
					<div class="large-9 columns">
						<input type="text" data-ng-model="paddler.weight"/>
					</div>
				</div>
				<div class="row">
					<div class="large-3 columns">
						<label>Age:</label>
					</div>
					<div class="large-9 columns">
						<input type="text" data-ng-model="paddler.age"/>
					</div>
				</div>
				<div class="row">
					<div class="large-3 columns">
						<label>Experience:</label>
					</div>
					<div class="large-9 columns">
						<input type="text" data-ng-model="paddler.experience"/>
					</div>
				</div>
				<div class="row">
					<div class="large-3 columns">
						<label>Gender:</label>
					</div>
					<div class="large-9 columns">
						<div class=:"row">
							<div class="large-6 columns text-left">
								<input type="radio" data-ng-model="paddler.gender" value="male"/> Male <br/>
							</div>
							<div class="large-6 columns">
								<input type="radio" data-ng-model="paddler.gender" value="female"/> Female <br/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-3 columns">
						<label>Side:</label>
					</div>
					<div class="large-9 columns">
						<div class=:"row">
							<div class="large-12 columns text-left">
								<input type="radio" data-ng-model="paddler.side" value="left" data-ng-selected/> Left
							</div>
							<div class="large-12 columns text-left">
								<input type="radio" data-ng-model="paddler.side" value="right"/> Right
							</div>
							<div class="large-12 columns text-left">
								<input type="radio" data-ng-model="paddler.side" value="both"/> Both
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-3 columns">
						&nbsp;
					</div>
					<div class="large-9 columns text-left">
						<button data-ng-click="savePaddler()">Save Paddler</button>
					</div>
				</div>
			</div>
			<div class="large-8 columns">
				<h3>Boat Order</h3>
				<hr/>
				<div class="row">
					<div class="large-2 columns">
						<strong>Seat #</strong>
					</div>
					<div class="large-5 columns">
						<strong>Left Side</strong>
					</div>
					<div class="large-5 columns">
						<strong>Right Side</strong>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						1
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left1" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right1" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						2
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left2" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right2" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						3
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left3" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right3" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						4
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left4" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right4" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						5
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left5" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right5" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						6
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left6" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right6" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						7
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left7" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right7" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						8
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left8" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right8" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						9
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left9" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right9" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns">
						10
					</div>
					<div class="large-5 columns">
						<select data-ng-model="left10" data-ng-options="p.name group by p.side for p in paddlers"></select>
					</div>
					<div class="large-5 columns">
						<select data-ng-model="right10" data-ng-options="c.name for c in paddlers"></select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<table>
				<tr>
					<th>Name</th>
					<th>Side</th>
					<th>Gender</th>
					<th>Age</th>
					<th>Experience</th>
				</tr>
				<tr data-ng-repeat="paddler in paddlers">
					<td><% paddler.name %></td>
					<td><% paddler.side %></td>
					<td><% paddler.experience %></td>
					<td><% paddler.age %></td>
					<td><% paddler.gender %></td>
				</tr>
			</table>
		</div>
	</div>
</div>